//- example content page

extends _base-template.jade

block current-page
	//- sets the active page in the main navigation
	- var products = true

mixin page_title
	| Products

block title
	title Sugar Craft – 
		+page_title

block content
	//- content goes here
	p Products &gt; Macaron &gt; <strong>12 Pack Macaron</strong>
	div.product-image
		a(href='#')
			figure
				img(src='image/12-pack.png' alt='macaron' class='image')
				figcaption 12 pack macarons

	h1 12 Pack Macaron			
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt lacus euismod sem efficitur imperdiet. Morbi velit orci, ullamcorper a molestie eu, rutrum nec sem. 

	a(class="button" href="#") place an order