//- example content page

extends _base-template.jade

block current-page
	//- sets the active page in the main navigation
	- var news = true

mixin page_title
	| About

block title
	title Sugar Craft – 
		+page_title

block content
	//- content goes here
	img(src='image/sugar-logo.jpeg' class='about')
	div.about-content
		h2 Julie + Rhythm
		p Dessert designing is our passion. All of our products are created through a complex procedure of visual sketches, colour combination, and weight distribution. As a client, you will be part of the design process by viewing our sketches and adding your own feedback, enabling the final product to be what you expect. 

		p Not only do we specialize in aesthetics, but we also emphasize the importance of using only the freshest ingredients. Our products contain almost half the amount of sugar found in baked goods from most bakeries, so we can guarantee that our all-natural baked goods will urge your tastebuds to come back for more.

		
		h1 Contact
		p sugarcraft.yvr@gmail.com
		p 778.869.9005
		strong Hours 
		p always open