//- example content page

extends _base-template.jade

block current-page
	//- sets the active page in the main navigation
	- var products = true

mixin page_title
	| Order Sent

block title
	title Sugar Craft – 
		+page_title

block content
	//- content goes here
	h1 Order Sent!

	p Thank you for placing an order. We will contact you shortly and let you know when your order will be ready.

	a(href='index.html') Back to Home
