//- home page

extends _base-template.jade

//- sets the active page in the main navigation
block current-page
	- var home = true

block content
	//- div.home-image 
	//- 	a(href='/products.html')
	//- //- img(src='image/largeboxmacaron.jpg' alt='macaron' class='image')

	//- img(src='image/macaron-4.jpg' alt='macaron' class='home-image-sub image')
	//- 	p Lots of party favours going out tonight! Email us if you'd like to order some for your events. Crystal clear boxes will be available on Tuesday! 


	//- img(src='image/credit-card.jpg' alt='visa card' class='home-image-sub image')
	//- 	p Didn't have time to run to the bank? Don't worry, we've got you covered! #Square
