//- home page

extends _base-template.jade

//- sets the active page in the main navigation
block current-page
	- var home = true

block content
	div.home-image 
		a(href='/products.html')
			img(src='image/largeboxmacaron.jpg' alt='macaron' class='image')


	div.home-section-2
		img(src='image/dessert-sketch.png' alt='assorted' class='home-image-sub image')
		h2 Desserts that Satisfy
		p Hand-crafted goods made with fresh seasonal ingredients. You’re sure to find something that delights your tastebuds.

				//- img(src='image/macaron-4.jpg' alt='macaron' class='home-image-sub image')
			//- p Lots of party favours going out tonight! Email us if you'd like to order some for your events. Crystal clear boxes will be available on Tuesday! 


