//- example content page

extends _base-template.jade

//- sets the active page in the main navigation
block current-page
	- var products = true

mixin page_title
	| Products

block title
	title Sugar Craft – 
		+page_title

block content
	//- content goes here
	
	div.image-gallery
		a(href='/macaron.html')
			figure
				img(src='image/singles.jpg' alt='macaron' class='image')
				figcaption 
				p A single handcrafted macaron

		a(href='#')
			figure
				img(src='image/macaron-2.jpg' alt='cupcake' class='image')
				figcaption 
				p Beautifully presented gifts for your parties and events

		a(href='#')
			figure
				img(src='image/macaron-4.jpg' alt='cake' class='image')
				figcaption 
				p Curious to try our seasonal flavours? Try this! 
		a(href='/order.html')
			figure
				img(src='image/macaron-12.jpg' alt='cupcake' class='image')
				figcaption 
				p You can never go wrong with a dozen macarons

		a(href='#')
			figure
				img(src='image/macaron-14.jpg' alt='cake' class='image')
				figcaption 
				p What's better than a dozen macarons? 14! 

