//- example content page

extends _base-template.jade

block current-page
	//- sets the active page in the main navigation
	- var news = true

mixin page_title
	| News & Creations

block title
	title Sugar Craft – 
		+page_title

block content
	//- content goes here

	.l-reading
		h1 News & Creations

		ul.list.news-creations
			li
				img(src='')
				p Happy 2nd birthday Epicentr!
				span.date February 26, 2014
				span.share Share
			li
				img(src='')
				p Celebrating National Cupcake Day! Have you had one today yet? 
				span.date February 23, 2014
				span.share Share
			li
				img(src='')
				p May this year bring you and your family lots of luck and good fortune
				span.date February 19, 2014
				span.share Share
			li
				img(src='')
				p What's inside our Macarons? Fresh strawberries nested in a ring of white chocolate infused buttercream. Check out our Instagram post from yesterday to see how you can win some FREE Macarons! 
				span.date February 12, 2014
				span.share Share	
			li
				img(src='')
				p A baby pink cake for an elegant ladies' debut! Happy 18th Birthday Christine
				span.date January 10, 2014
				span.share Share