//- example content page

extends _base-template.jade

block current-page
	//- sets the active page in the main navigation
	- var products = true

mixin page_title
	| 12 Pack Macarons

block title
	title Sugar Craft – 
		+page_title

block content

	//- content goes here
	
	.main-product-image: img.image(src='image/large-box-curved-arrangement-s.jpg')

	.l-reading.section.product-page
		h1 12 Pack Macarons
		h2.price $22
		p A dozen of your favourite seasonal flavours! Each macaron is carefully made with the freshest local ingredients. Take home an assorted dozen or 12 of your favourite flavour!  

		form.order-form(method='link' action='cart.html')

			ul.list-header.list-header-flavours
				li Seasonal flavours 
				li Quantity
			
			ul.order-list
				li: .item-row
					.macaron-flavour: img.image(src='image/matcha-frappe-flavour.jpg')
					label Matcha Frappe
						span.input-description King of green tea
					.input-quantity
						input(type='number' class='quantity' value='0' min='0')
				
				li: .item-row
					.macaron-flavour: img.image(src='image/earl-grey-flavour.jpg')
					label Earl Grey
						span.input-description Smooth citrus goodness
					.input-quantity
						input(type='number' class='quantity' value='0' min='0')
				
				li: .item-row
					.macaron-flavour: img.image(src='image/vanilla-bean-flavour.jpg')
					label Vanilla Bean
						span.input-description Clean and classic
					.input-quantity
						input(type='number' class='quantity' value='0' min='0')
			
				li: .item-row
					.macaron-flavour: img.image(src='image/dark-mocha-flavour.jpg')
					label Dark Mocha
						span.input-description Go-to choice for chocoholics
					.input-quantity
						input(type='number' class='quantity' value='0' min='0')

				li: .item-row
					.macaron-flavour: img.image(src='image/assorted-flavour.jpg' style='-webkit-transform: rotate(45deg); transform: rotate(45deg);')
					label Assorted
						span.input-description For those that crave variety
					.input-quantity
						input(type='number' class='quantity' value='0' min='0')			

			p.order-total Subtotal: <span>0</span>

			div.item-row.next-step
				input(type='submit' class='button-main' value='Add to Order') 

	.l-wrapper
		.l-reading
			h3.section-heading Related products
			ul.related-products.list 
				li
					img(src='image/macaron-singles-thumbnail.jpg')
					p Macaron Singles
						span.price $1.75
				li 
					img(src='image/party-favours-thumbnail.jpg')
					p Party Favours
						span.price $8.00

			h3.section-heading Custom Order
			p Want personalized desserts for your event? Fill out the <a href='#' class='main-link'>Custom order form</a>