//- example content page

extends _base-template.jade

block current-page
	//- sets the active page in the main navigation
	- var products = true

mixin page_title
	| Checkout

block title
	title Sugar Craft – 
		+page_title

block content
	//- content goes here
	h1 Checkout

	h3 Your Order
	ul.order-list.order-summary
		li 
			.item-row
				p 12 Pack Macarons  - Matcha Frappe 
					span.quantity × 2
				span.item-subtotal $44
		li 
			.item-row
				p 12 Pack Macarons - Vanilla Bean 
					span.quantity × 3
				span.item-subtotal $66
		li 
			.item-row
				p <b>Delivery Method:</b> 
					span Pick-up
				span $0
	
	.item-row
		a(href='#') Edit order
		div Total (5 items): <span>$110</span>

	h3 Contact Information
	ul.list
		li <b>Name:</b> John Doe
		li <b>Email:</b> jon.doe@email.com
	a(href='#') Edit contact info

	.next-step
		input(type='submit' value='Send Order')