// RESET

// remove webkit browser style
input {
    -webkit-appearance: none;
    border-radius: 0;
}

// remove number spinner
input[type=number] {
    -moz-appearance:textfield; // for firefox

    &::-webkit-inner-spin-button, ::-webkit-outer-spin-button { // for webkit browsers
      -webkit-appearance: none;
      margin: 0;
    }
}

button {
  outline: 0;
  background: none;
  border: none;
}

// VARIABLES AND PLACEHOLDERS

$brand-gold:  #a7862e;
$brand-silver: #7c7c7c;
$brand-pink: #eed7e9;

$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

%clear {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// STATES 

.is-expanded {
  display: block !important;
}

// GENERAL

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: normal 100% 'Open Sans', sans-serif;
  line-height: 1.5;
  padding: 1rem;
}

section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

h3 {
  margin-bottom: 0;
}

h4 {
  color: #777;
}

p {
  margin-top: 0;
}

a.htext {
  color: #a6862e;
  text-decoration: none;
}

a.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #ffffff;
  background-color: #3ca39b;
  border-radius: 0em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
a.button:hover, a.button:focus {
  background-color: #435b59;
}

code, pre {
  display: block;
  background-color: #EEE;
  padding: 0.5em 0.75em;
  margin: 0;
  margin-bottom: 1em;
}

.content {
  margin-bottom: 3em;
}

.list {
  padding-left: 0;
}

.list li {
  list-style: none;  
}

// IMAGES

.image {
  width: 100%;
}

.images {
  display: inline-block;
  padding: 0.5em 0.5em;

}

figure { 
  display: inline-block;
  padding: 1em 0em 1em 0em;
  margin-left: auto;
  margin-right: auto;

  p {
    color: black;
    text-align: center;
  }
}

figcaption { 
  display: block;
  font-size: 1.3em;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.image-gallery a {
  display: inline-block;
  max-width: 400px;
  // padding: 1em 1em 1em 1em;

  opacity: 1;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.image-gallery a:focus, .image-gallery a:hover {
    opacity:0.8;
}

.product-image {
  float: left;
  display: inline-block;
  max-width: 550px;
  padding: 0em 2em 2em 2em;

    p {
      float: right;
      padding: 5em;
    }
}

.home-image-sub {
  float:left;
  max-width:200px;

  p {
    padding: 5em 5em 5em 5em;
  }
}

// HEADER

header {
  display: flex;
  border: 0px solid #CCC;

  #logo {
    float: left;
  }

  img {
    max-width: 50px;
  }

  nav a, .go-to-nav, .shopping-cart {
    display: block;
    padding: 1em 1.25em;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background: #fff;

    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }

  nav a:hover, nav a:focus, .go-to-nav:hover, .go-to-nav:focus {
    color: #3ca39b;
  }

  .shopping-cart {
    max-width: 3.5em;
    text-indent: 56px; // hide the cart wording
    overflow: hidden;
    background: transparent url('/image/shopping-cart.png') no-repeat center -2px;    
    background-size: 56px; 
  }

}

nav {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 5em;
  left: 0;
  right: 0;


  ul {
    padding-left: 0;
    max-width: 22em;
    border: 1px solid #BBB;
    margin: 0 auto;
  }

  li {
    list-style: none;
    border-bottom: 1px solid #BBB;
  }

  li:last-child {
    display: none;
  }

  a.button {
    display: block;
    margin: 0 auto;
    padding: 1em 0;
  }

}

.go-to-nav {
  margin: 0 auto;
}

// FOOTER

footer {
  background-color: #ffffff;
  font-size:.8rem;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:#666;
  text-align:center;
  padding:10px;
}

// FORM

fieldset {
  padding: 0;
  margin: 0;
  border: none; 

  label {
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 1em;
    }

  }

}

legend {
  margin-bottom: .5em;
}

label {
  display: block;
  font-family: 'Open Sans', sans-serif;

  strong {
    display: block;
    margin-bottom: .5em;
  }

}

.order-form {
  margin-bottom: 1.5em;
}

.item-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-row > span {
  display: inline-block;
}

.item-row label {
  margin-top: .65em;
  display: inline-block;
}

.list-header {
  padding-left: 0;
  margin-bottom: 0;
  font-style: italic;
  color: #777;
  @extend %clear;

  li {
    list-style: none;
    padding: .75em 0;
    float: left;

    &:last-child {
      float: right;
      margin-right: 2.5em;
    }
  }
}

.order-list {
  padding-left: 0;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }
}

input[type='text'], input[type='number'], input[type='email'], textarea {
  display: block;
  height: 2.5em;
  width: 100%;
  max-width: 24em;
  margin-bottom: 1em;
  border: 1px solid #AAA;
  padding-left: .4em;
}

input[type='radio'] {
  margin-right: .5em;
}

select {
  display: block;
  margin-bottom: 1em;
}

input.quantity {
  display: inline-block;
  width: 2.5em;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.input-quantity {
  display: inline-block;
  float: right;
}

button, input[type='submit'] {
  height: 3em;
  padding: 0 1.5em;
  background-color: #DDD;
  border: 1px solid #AAA;
  border-radius: 3px;
  background: linear-gradient(to bottom, #ededed 0%,#c1c1c1 100%,#e0e0e0 100%); 
}

button.counter {
  width: 1.75em;
  height: 1.75em;
  margin: 0 .75em;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

// TEMP FORM STYLES

h1.order-heading {
  margin: 0;
}

h2.order-heading {
  margin-top: 0;
}

h3.order-heading {
  font-size: 1.125em; 
  text-transform: uppercase; 
  margin-top: 3em; 
  color: #777; 
  margin-bottom: 0.25em;
}

.list-header {
  display: none;
} 

.order-list {
  border-bottom: 1px solid #DDD;
}

.order-list li {
  border-top: 1px solid #DDD;
  padding: .75em 0;
}

.order-list p {
  margin: 0;
}

.item-delete {
  cursor: pointer;
  width: 1.75em;
  height: 1.75em;
  margin-top: .85em;
  border-radius: 50%;
  background-color: #999;
  overflow: hidden;
  text-indent: 100%; 

  &:before {
    content: '×';
    color: #FFF;
    position: relative;
    top: .125em;
    left: -1.2em;
  }

}

.item-quantity {
  margin-top: .5em;
}

.item-price, .item-total {
  margin-top: 1em;
}

.item-subtotal {
  margin-left: 1em;
}

.order-total {
  text-align: right;
}

.next-step {
  display: flex;
  justify-content: flex-end;

  button, a {
    float: right;
  } 

  a {
    margin: .75em 1.5em 0 0;
  }
}

.next-step p {
  margin: .75em 1.5em 0 0; 
}

.order-summary .quantity {
  color: #777;
  white-space: nowrap;
}

// SMALL SCREENS AND UP 

@media(min-width: $screen-sm) {

  header {
    display: block;
  }

  .go-to-nav, header > .shopping-cart {
    display: none !important;
  }

  nav {
    position: static;
    display: block;

    ul {
      max-width: 100%;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
      border: none;
    }

    li {
      list-style: none;
      border: none;
    }

    li:last-child {
      display: block;
    }

    .lrg-item {
      margin: 0 .5em;
    }

    a.button {
      margin-top: .5em;
      padding: .5em .75em;
    }

  }

  .shopping-cart {
    margin-left: .75em;
  }

}