body {
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
}

section {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}
section h3 {
  margin-bottom: 0;
}
section p {
  margin-top: 0;
}
section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

a.h1 {
  display: inline-block;
  color: #a6862e;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
/*a.h1:hover, a.h1:focus {
  color: #666666;
  }*/


a.button {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #ffffff;
  background-color: #3ca39b;
  border-radius: 0em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
a.button:hover, a.button:focus {
  background-color: #435b59;
}

.images {
  display: inline-block;
  padding: 0.5em 0.75em;

}


label {
  margin-right: 0.5em;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}


nav a:first-of-type {
  margin-left: 20em;
}
nav a {
  display: inline-block;
  color: #999999;
  background-color: #ffffff;
  font-size:1.5rem;
  padding: 0.5em 0.75em; /* top right bottom left*/ 
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

nav a:hover, nav a:focus {
  color: #3ca39b;
}
